@model ENTIDAD.CiudadE

@{
    ViewBag.Title = "EditarCiudad";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var listaPaises = ViewBag.ListadoPaises;
}

<h2>Editar Ciudad</h2>

<table>
    @using (Html.BeginForm("ActualizarCiudad", "Ciudades", FormMethod.Post))
    {
        <tr>
            <td> ID:  </td>
            <td><input type="text" name="txtIdCiudad" value="@Model.Id_Ciudad"  readonly /></td>
        </tr>
        <tr>
            <td> Nombre Ciudad:  </td>
            <td><input type="text" name="txtNombre" value="@Model.Nombre" /></td>
        </tr>
        <tr>
            <td>pais: </td>
            <td>
                <select name="cboPais">
                    @foreach (var item in listaPaises)
                    {
                        <option value="@item.Id_Pais">@item.Nombre</option>
                    }
                </select>
            </td>
        </tr>

        <tr>
            <td><button type="submit">ACTUALIZAR</button></td>
        </tr>
    }
</table>